.sidebar-container{
  
}
.sidebar-container a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar-container a:hover{
    color: cyan;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6D6CBC;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar p {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  